body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center; }

.wrapper {
  height: 900px;
  width: 100%;
  background-color: silver; }

button {
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: 0; }

button:focus {
  outline: none; }

.container {
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  position: absolute;
  width: 720px;
  height: 405px; }
  .container .video-source {
    grid-column: 1/11;
    grid-row: 1/11;
    width: 720px;
    height: 405px;
    background-color: silver; }
  .container .screen {
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 720px;
    background-color: transparent; }
  .container .casing {
    grid-column: 1/11;
    grid-row: 9/10;
    align-self: flex-end;
    height: 6px;
    margin-left: 10px;
    width: 700px;
    background-color: black;
    /* slidershell exists only
        to provide a positioning context for the range input and other elements.*/
    /* .sliderfill adds color (or a gradient as seen here) to the track as the user 
            drags the thumb. */
    /* .sliderthumb can be any css you like including an image. 
            The dimensions must match those found in the rule for 
            input[type=range]::-webkit-slider-thumb. */
    /* The .slider and .slidervertical classes are for the range inputs. 
            Set the z-index high so its on top. */
    /* First we have to make transparent all the default elements of the range input.
            We use color:transparent to eliminate the default tick marks in IE. */
    /* we need a separate rule for when the range input is to be vertical */ }
    .container .casing .bar {
      position: absolute;
      left: 4px;
      top: 5px;
      height: 3px;
      width: 694px;
      background-color: grey;
      opacity: 0; }
    .container .casing .slidershell {
      border: 0 none;
      position: relative;
      left: 0px;
      top: 0px;
      overflow: visible; }
    .container .casing .sliderfill {
      height: 3px;
      border-radius: 4px;
      position: absolute;
      opacity: 1;
      pointer-events: none;
      background: red;
      opacity: 0; }
    .container .casing .sliderthumb {
      width: 12px;
      height: 12px;
      /* background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/358203/thumb.png'); */
      background-color: red;
      background-size: 40px 40px;
      background-position: 0px 0px;
      background-repeat: no-repeat;
      position: absolute;
      left: 0px;
      top: 0px;
      border: 0 none;
      border-radius: 50%;
      padding: 0px;
      margin: 0px;
      text-align: center;
      pointer-events: none;
      opacity: 0; }
    .container .casing .slider,
    .container .casing .slider-vertical {
      position: absolute;
      left: 0px;
      top: 0px;
      overflow: visible;
      z-index: 100; }
    .container .casing input[type=range]::-ms-track {
      width: 100%;
      height: 100%;
      -webkit-appearance: none;
      margin: 0px;
      padding: 0px;
      border: 0 none;
      background: transparent;
      color: transparent;
      overflow: visible; }
    .container .casing input[type=range]::-moz-range-track {
      width: 100%;
      height: 100%;
      -moz-appearance: none;
      margin: 0px;
      padding: 0px;
      border: 0 none;
      background: transparent;
      color: transparent;
      overflow: visible; }
    .container .casing input[type=range] {
      width: 100%;
      height: 100%;
      -webkit-appearance: none;
      margin: 0px;
      padding: 0px;
      border: 0 none;
      background: transparent;
      color: transparent;
      overflow: visible; }
    .container .casing input[type=range].slidervertical {
      -webkit-appearance: slider-vertical;
      opacity: 1; }
    .container .casing input[type=range]:focus::-webkit-slider-runnable-track {
      background: transparent;
      border: transparent; }
    .container .casing input[type=range]:focus {
      outline: none; }
    .container .casing input[type=range]::-webkit-slider-thumb {
      width: 20px;
      height: 20px;
      border-radius: 0px;
      border: 0 none;
      background: transparent;
      -webkit-appearance: none; }
  .container .controls-bar {
    grid-column: 1/11;
    grid-row: 10/11;
    position: relative;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    align-self: flex-end; }
    .container .controls-bar .controls-triad, .container .controls-bar .screening-controls {
      margin-left: 20px;
      width: 120px;
      height: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .container .controls-bar .controls-triad .empty-btn, .container .controls-bar .screening-controls .empty-btn {
        height: 20px;
        width: 20px; }
      .container .controls-bar .controls-triad .test-play-toggle, .container .controls-bar .screening-controls .test-play-toggle {
        height: 20px;
        width: 20px;
        display: flex;
        position: absolute;
        border: 0;
        padding: 0;
        background-color: transparent; }
        .container .controls-bar .controls-triad .test-play-toggle #pause, .container .controls-bar .screening-controls .test-play-toggle #pause {
          height: 20px;
          width: 20px; }
        .container .controls-bar .controls-triad .test-play-toggle #skip, .container .controls-bar .screening-controls .test-play-toggle #skip {
          position: absolute; }
        .container .controls-bar .controls-triad .test-play-toggle .left-block, .container .controls-bar .screening-controls .test-play-toggle .left-block {
          position: absolute;
          left: 0;
          height: 20px;
          width: 10px;
          background-color: white; }
        .container .controls-bar .controls-triad .test-play-toggle .right-block, .container .controls-bar .screening-controls .test-play-toggle .right-block {
          position: absolute;
          right: 0;
          height: 20px;
          width: 10px;
          background-color: white; }
        .container .controls-bar .controls-triad .test-play-toggle .triangle-top, .container .controls-bar .screening-controls .test-play-toggle .triangle-top {
          position: absolute;
          padding: 0;
          border-top: 10px solid black;
          border-left: 20px solid transparent; }
        .container .controls-bar .controls-triad .test-play-toggle .triangle-bottom, .container .controls-bar .screening-controls .test-play-toggle .triangle-bottom {
          position: absolute;
          width: 0;
          height: 0;
          border-bottom: 10px solid black;
          border-left: 20px solid transparent;
          bottom: 0; }
        .container .controls-bar .controls-triad .test-play-toggle .pane, .container .controls-bar .screening-controls .test-play-toggle .pane {
          position: absolute;
          height: 20px;
          width: 20px; }
        .container .controls-bar .controls-triad .test-play-toggle .ghost-cover, .container .controls-bar .screening-controls .test-play-toggle .ghost-cover {
          height: 20px;
          width: 20px; }
      .container .controls-bar .controls-triad .controls, .container .controls-bar .screening-controls .controls {
        height: 15px; }
      .container .controls-bar .controls-triad .test-volume, .container .controls-bar .screening-controls .test-volume {
        position: absolute;
        left: 120px;
        height: calc((80px*20)/64);
        width: calc((80px*20)/64);
        display: flex;
        justify-content: center;
        align-items: center; }
        .container .controls-bar .controls-triad .test-volume #silence, .container .controls-bar .screening-controls .test-volume #silence {
          height: 20px;
          width: 20px; }
      .container .controls-bar .controls-triad .silence-pane, .container .controls-bar .screening-controls .silence-pane {
        position: absolute;
        left: calc((20*6px)/64);
        top: calc((20*-2px)/64);
        width: 0px;
        height: calc((20*16px)/64);
        background-image: linear-gradient(180deg, black 50%, white 50%);
        transform: rotate(45deg); }
    .container .controls-bar .casing-volume {
      height: 6px;
      margin-left: 12px;
      margin-bottom: 5px;
      width: 0px;
      background-color: black;
      /* slidershell exists only
            to provide a positioning context for the range input and other elements.*/
      /* .sliderfill adds color (or a gradient as seen here) to the track as the user 
                drags the thumb. */
      /* .sliderthumb can be any css you like including an image. 
                The dimensions must match those found in the rule for 
                input[type=range]::-webkit-slider-thumb. */
      /* The .slider and .slidervertical classes are for the range inputs. 
                Set the z-index high so its on top. */
      /* First we have to make transparent all the default elements of the range input.
                We use color:transparent to eliminate the default tick marks in IE. */
      /* we need a separate rule for when the range input is to be vertical */ }
      .container .controls-bar .casing-volume .bar {
        position: absolute;
        left: 4px;
        top: 5px;
        height: 3px;
        width: 54px;
        background-color: #070707;
        opacity: 0; }
      .container .controls-bar .casing-volume .slidershell {
        border: 0 none;
        position: relative;
        left: 0px;
        top: 0px;
        overflow: visible; }
      .container .controls-bar .casing-volume .sliderfill {
        position: absolute;
        height: 3px;
        left: 4px;
        top: 5px;
        border-radius: 4px;
        pointer-events: none;
        background: white;
        opacity: 0; }
      .container .controls-bar .casing-volume #fill {
        background-color: white; }
      .container .controls-bar .casing-volume .sliderthumb {
        width: 12px;
        height: 12px;
        /* background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/358203/thumb.png'); */
        background-color: white;
        background-size: 40px 40px;
        background-position: 0px 0px;
        background-repeat: no-repeat;
        position: absolute;
        left: 0px;
        top: 0px;
        border: 0 none;
        border-radius: 50%;
        padding: 0px;
        margin: 0px;
        text-align: center;
        pointer-events: none;
        opacity: 0; }
      .container .controls-bar .casing-volume #thumb {
        background-color: white; }
      .container .controls-bar .casing-volume .slider,
      .container .controls-bar .casing-volume .slider-vertical {
        position: absolute;
        left: 0px;
        top: 0px;
        overflow: visible;
        z-index: 100; }
      .container .controls-bar .casing-volume input[type=range]::-ms-track {
        width: 100%;
        height: 100%;
        -webkit-appearance: none;
        margin: 0px;
        padding: 0px;
        border: 0 none;
        background: transparent;
        color: transparent;
        overflow: visible; }
      .container .controls-bar .casing-volume input[type=range]::-moz-range-track {
        width: 100%;
        height: 100%;
        -moz-appearance: none;
        margin: 0px;
        padding: 0px;
        border: 0 none;
        background: transparent;
        color: transparent;
        overflow: visible; }
      .container .controls-bar .casing-volume input[type=range] {
        width: 100%;
        height: 100%;
        -webkit-appearance: none;
        margin: 0px;
        padding: 0px;
        border: 0 none;
        background: transparent;
        color: transparent;
        overflow: visible; }
      .container .controls-bar .casing-volume input[type=range].slidervertical {
        -webkit-appearance: slider-vertical;
        opacity: 1; }
      .container .controls-bar .casing-volume input[type=range]:focus::-webkit-slider-runnable-track {
        background: transparent;
        border: transparent; }
      .container .controls-bar .casing-volume input[type=range]:focus {
        outline: none; }
      .container .controls-bar .casing-volume input[type=range]::-webkit-slider-thumb {
        width: 20px;
        height: 20px;
        border-radius: 0px;
        border: 0 none;
        background: transparent;
        -webkit-appearance: none; }
    .container .controls-bar .playback-time {
      font-family: 'Roboto', sans-serif;
      color: #DBD9D9;
      width: 100px;
      height: 38px;
      display: flex;
      justify-content: center;
      align-items: center; }
    .container .controls-bar .empty-space {
      height: 40px;
      width: 250px; }
      .container .controls-bar .empty-space #insanity-div {
        height: 40px;
        width: 100px;
        background-color: blue; }
    .container .controls-bar .screening-controls {
      position: absolute;
      left: 540px; }
      .container .controls-bar .screening-controls .controls {
        height: 18px; }
      .container .controls-bar .screening-controls #settings {
        height: 20px; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeout {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes lengthenScrub {
  from {
    top: 5px;
    height: 3px; }
  to {
    top: 4px;
    height: 4px; } }

@keyframes shortenScrub {
  from {
    top: 4px;
    height: 4px; }
  to {
    top: 5px;
    height: 3px; } }

@keyframes disappearThumb {
  from {
    height: 12px;
    width: 12px;
    top: 0px; }
  to {
    height: 0px;
    width: 0px;
    top: 6px; } }

@keyframes triangleBottomDisappear {
  from {
    border-bottom: 10px solid black; }
  to {
    border-bottom: 0px solid black; } }

@keyframes triangleTopDisappear {
  from {
    border-top: 10px solid black; }
  to {
    border-top: 0px solid black; } }

@keyframes triangleBottomAppear {
  from {
    border-bottom: 0px solid black; }
  to {
    border-bottom: 10px solid black; } }

@keyframes triangleTopAppear {
  from {
    border-top: 0px solid black; }
  to {
    border-top: 10px solid black; } }

@keyframes blocksApart {
  from {
    width: 10px; }
  to {
    width: 0px; } }

@keyframes blocksCombine {
  from {
    width: 0px; }
  to {
    width: 10px; } }

@keyframes diagonalslideout {
  0% {
    left: calc((20*18px)/64);
    top: calc((20*4px)/64);
    width: 0px; }
  100% {
    top: calc((20*32px)/64);
    left: calc((20*-6px)/64);
    width: calc((20*100px)/64); } }

@keyframes rotate60clockwise {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(30deg); } }
